@font-face {
  font-family: 'Morabba';
  src: url('Morabba-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #000000, #1e1f26); /* پیش‌فرض */
  color: white;
  font-family: 'Morabba', Arial, sans-serif; /* اعمال فونت جدید */
  margin: 0;
  transition: background 0.5s ease; /* انتقال نرم برای تغییر رنگ پس‌زمینه */
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.score {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px; /* کاهش فاصله زیر امتیاز */
}

.coin-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.rank {
  margin: 5px 0 20px 0; /* کاهش فاصله بالا و افزایش فاصله پایین رتبه */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  position: relative;
  margin: 20px 0; /* کاهش فاصله بالا و پایین سکه */
}

.golden-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s;
}

.golden-image.special-message {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
      box-shadow: 0 0 10px #fff;
  }
  to {
      box-shadow: 0 0 20px #ff4500;
  }
}

.energy-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0; /* فاصله بالا و پایین نوار شارژ */
}

.energy {
  display: flex;
  align-items: center;
  margin-right: 10px; /* فاصله سمت راست نوار شارژ */
}

.lightning {
  margin-right: 5px;
}

.energy-bar-container {
  flex-grow: 1;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* شفاف کردن نوار شارژ */
  border-radius: 10px;
}

.energy-bar {
  height: 100%;
  background-color: #0f0; /* رنگ پیش‌فرض */
  border-radius: 10px;
  transition: width 0.2s ease, background-color 0.5s ease; /* انتقال نرم برای تغییر رنگ نوار شارژ */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  backdrop-filter: blur(10px); /* افزایش شدت بلور */
}

.blurred {
  filter: blur(5px); /* تار کردن متن */
}

.soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .golden-image {
      width: 250px; /* اندازه بزرگتر برای نسخه موبایل */
      height: 250px; /* اندازه بزرگتر برای نسخه موبایل */
  }

  .score {
      font-size: 1.5em;
  }

  .menu {
      flex-direction: row; /* حفظ جهت ردیفی */
      padding: 10px;
  }

  .menu span {
      margin-bottom: 0; /* حذف فاصله پایین */
  }

  .energy {
      font-size: 0.8em;
  }

  .energy-bar-container {
      width: 100%; /* عرض کامل برای نسخه موبایل */
  }
}
